<!DOCTYPE html>
<html>

<head>
    <title>信息</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../user.css" />
</head>

<body>
    <div id="container">
        <div class="content">
            <div class="info">
                <div class="avatar">
                    <img src="../user.png" />
                </div>
                <div class="nickname">
                    <%= nickname %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>